//
// Demo Colors
//

$solid-black: black;
$solid-red: #f63440;
$solid-orange: #ff5200;
$solid-yellow: #ffde00;
$solid-green: #00a888;
$solid-turquoise: #0099a9;
$solid-aqua: #00add8;
$solid-blue: #000f9f;
$solid-purple: #c129b9;
$solid-pink: #e60895;
$solid-gray: #a8a8aa;

$pastel-red: #feafbc;
$pastel-orange: #ff8f6c;
$pastel-yellow: #fef28b;
$pastel-green: #a7ed8b;
$pastel-turquoise: #c7e2e2;
$pastel-aqua: #c7e2e2;
$pastel-blue: #70d0ec;
$pastel-purple: #c19bdf;
$pastel-pink: #f4b3dc;
$pastel-gray: #aea89e;

$metallic-red: #c84348;
$metallic-orange: #cd6313;
$metallic-yellow: #ca9501;
$metallic-green: #208b4c;
$metallic-turquoise: #009d89;
$metallic-aqua: #385d9e;
$metallic-blue: #0082b2;
$metallic-purple: #803671;
$metallic-pink: #b17e9c;
$metallic-gray: #766d70;

// Font Variables
$nav-font: 'Economica',sans-serif;
$body-font: 'Old Standard TT',serif;
$main-heading: 'novecento_sans_wide_bookbold',sans-serif;
$sub-heading: 'nexa_rust_script_l0regular',sans-serif;
$icon-font: 'nexa_rust_extrasfree',sans-serif;

// Scaffolding Colors
$dark: #000;
$light: #fff;
$body-bg: #fff;
$text-color: #333;
$link-color: #ff6c00;
$link-hover-color: darken($link-color,10%);
$placeholder-text: #bbbbbb;

// Primary Colors
$nav-default-bg: #e0ded9;
$nav-inverse-bg: #313235;
$brand-primary: #ff6c00;

//Alert, Error and Success Colors
$brand-danger: #e74c3c;
$brand-success: #29aa3e; 
$brand-info: #1f4971;
$brand-warning: #ffba00;

//Grays
$gray-darker: #222;
$gray-dark: #2e2e32;
$gray-light: #e0ded9;
$gray: #f7f7f7;
